body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}
table {
  border: 1px solid #666;
  border-radius: 4px;
}
td {
  border: 1px solid #666;
}
.but {
  border: 1px solid #999;
  border-radius: 8px;
  margin: 0 5px;
  padding: 10px 10px;
}
  .rem {
    background: #FA8072;
  }
  .ed {
    background: #00FFFF;
  }
img {
  width: 200px;
}
.save {
  background: #7FFF00;
}